@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Quicksand:wght@300;400;500;600;700&display=swap');

.modalTitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.modalButtonRight {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-left: 40px;
    background-color: rgb(42, 150, 190);
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 12px;
}

.modalButtonLeft {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-right: 40px;
    background-color: rgb(42, 150, 190);
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 12px;
}